/* Base colors */
:root {
	--color-white: #fff;
	--color-black: #1d1d1d;
	--color-green: #2e3b27;
	--color-olive: #556d36;
	--color-steelblue: #607cac;
	--color-steelblue-light: #a3b1cc;
	--color-silver: #c9c9c8;
	--color-silver-light: #f0f0ec;
	--color-red: #d8000c;

	--color-text: var(--color-black);
	--color-link: var(----color-green);

	--font-face-display: 'Raleway', sans-serif;
	--font-face-body: 'Roboto', sans-serif;

	--font-weight-light: 100;
	--font-weight-normal: 400;
	--font-weight-bold: 700;

	--font-size-base: 1rem;

	--font-size-s: calc(var(--font-size-base) * 0.875);
	--font-size-m: var(--font-size-base);
	--font-size-l: calc(var(--font-size-base) * 1.5);
	--font-size-xl: calc(var(--font-size-base) * 2);
	--font-size-xxl: calc(var(--font-size-base) * 4);

	--border-width: 1px;

	--distance-xxs: 0.25rem;
	--distance-xs: 0.5rem;
	--distance-s: 0.75rem;
	--distance-m: 1rem;
	--distance-l: 1.5rem;
	--distance-xl: 2rem;
	--distance-xxl: 3rem;

	--radius: 0;
	--radius-small: 2px;
	--radius-full: 100%;
}

@custom-media --small (min-width: 30rem);
@custom-media --medium (min-width: 45rem);
@custom-media --large (min-width: 62rem);
@custom-media --xlarge (min-width: 75rem);
