.form__row {
	max-width: 400px;

	margin-bottom: var(--distance-m);
}

.form__loader-img {
	display: inline-block;

	width: 30px;
}

fieldset {
	margin: 0;
	padding: 0;

	border: none;
}

label {
	display: block;

	margin-bottom: var(--distance-xxs);

	font-weight: bold;
}

textarea {
	display: block; /* http://tinyurl.com/y3l4m3l7 */
}

button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
}

input,
select,
textarea {
	width: 100%;

	padding: var(--distance-s);

	font-size: var(--font-size-m);

	border-radius: 0;
	border: 1px solid var(--color-silver);
}

select {
	padding-right: var(--distance-xs);
	padding-left: var(--distance-xs);
}

/* input:valid,
select:valid,
textarea:valid,
input:invalid,
select:invalid,
textarea:invalid {
	border-color: var(--color-red);
} */

input:focus,
select:focus,
textarea:focus {
	background-color: var(--color-silver-light);
	border-color: var(--color-silver);
	outline: none;
	box-shadow: none;
}

input:valid,
select:valid,
textarea:valid {
	border-color: var(--color-olive);
}

input:hover:not([disabled]),
select:hover:not([disabled]),
textarea:hover:not([disabled]) {
	border-color: var(--color-olive);
}

textarea:invalid:not(:focus):not(:placeholder-shown),
input:invalid:not(:focus):not(:placeholder-shown) {
	background: pink;
	border-color: var(--color-red);
}

.required {
	color: var(--color-red);
}
