---
title: test
---

<!doctype html>
<html lang="nl">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Tales from the front {% if title %} - {{ title }} {% endif %}</title>

	<!-- capture the CSS content as a Nunjucks variable -->
	{% set css %}
		{% include "../../css/main.css" %}
	{% endset %}
	<!-- feed it through our cssmin filter to minify -->

	<style>
		{{ css | cssmin | safe }}
	</style>

	<link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,700,900&display=swap" rel="stylesheet">
</head>
<body>
	<div class="wrapper">
		{% include 'header.njk' %}

		<main>
			{{ content | safe }}
		</main>

		{% include 'footer.njk' %}
	</div>
</body>
</html>
