---
title: Home
visual: homepage-header
---

<!doctype html>
<html lang="nl">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>
		Tales from the front
		{% if page.url !== "/" %}
			- {{ title }}
		{% endif %}
	 </title>

	<link rel="shortcut icon" href="{{ "/" | url }}favicon.ico" type="image/x-icon">
	<link rel="icon" href="{{ "/" | url }}favicon.ico" type="image/x-icon">

	<link href="{{ "/" | url }}css/main.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Raleway:700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
</head>
<body>
	<div class="wrapper">
		{% include "../header.njk" %}

		<main class="main">
      		{{ content | safe }}
		</main>

		{% include "../footer.njk" %}
	</div>
</body>
</html>
