---
title: test
---

<!doctype html>
<html lang="nl">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Tales from the front</title>

	<link href="/css/main.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Raleway:700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
</head>
<body>
	<div class="wrapper">
		<%- include('../header.ejs') %>

		<main class="main">
			<%- content %>
		</main>

		<%- include('../footer.ejs') %>
	</div>
</body>
</html>
