---
layout: content
title: Tales from the front
---

<div class="book">
	<div class="book_price">
		€30,00*
	</div>
	<div class="book_item book_item--book">
		{# <div class="book_soldout">
			<img src="{{ "/" | url }}img/visuals/soldout.png" alt="sold out" />
		</div> #}

		<img class="book_visual"
			sizes="(max-width: 1980px) 100vw, 1980px"
			srcset="
				{{ "/" | url }}img/visuals/boek_vier-dagen-hel-320w.jpg 320w,
				{{ "/" | url }}img/visuals/boek_vier-dagen-hel-1100w.jpg 1100w,
				{{ "/" | url }}img/visuals/boek_vier-dagen-hel-1650w.jpg 1650w,
				{{ "/" | url }}img/visuals/boek_vier-dagen-hel-1980w.jpg 1980w"
			src="{{ "/" | url }}img/visuals/boek_vier-dagen-hel-1980w.jpg"
			alt="">
	</div>

	<div class="book_item">
		{{ content | safe }}

		{# <a href="{{ "/" | url }}files/Vier_Dagen_Hel_flyer.pdf" class="btn">
			Download Flyer
		</a> #}
	</div>
</div>

<div class="book-seperator">
	<img class="book-seperator__icon" src="{{ "/" | url }}img/icons/tank.png" alt="" />
	<hr class="book-seperator__line">
</div>

<div class="card">
	<h2 class="h1">Bestel het boek nu voor maar €30,00 <small><em>excl. verzendkosten à €6,75</em></small></h2>

	<form action="https://submit-form.com/p2Q9mAWd" class="js-form">
		<input type="hidden" name="_redirect" value="https://talesfromthefront.nl/boek-vier-dagen-hel/" />
		<input type="hidden" name="_email.subject" value="Talesfromthefront.nl - Nieuwe boek aanvraag" />

		<div class="form__row">
			<label for="aantal">Aantal boeken <sup class="required">*</sup></label>
			<input type="text" id="aantal" name="aantal" placeholder="1" required />
		</div>

		<div class="form__group">
			<div class="form__row">
				<label for="name">Naam <sup class="required">*</sup></label>
				<input type="text" id="name" name="name" placeholder="Voorletter(s) en Achternaam" required />
			</div>

			<div class="form__row">
				<label for="name">Adres <sup class="required">*</sup></label>
				<input type="text" id="adres" name="adres" placeholder="Straatnaam en Huisnummer" required />
			</div>
		</div>

		<div class="form__group">
			<div class="form__row">
				<label for="name">Postcode <sup class="required">*</sup></label>
				<input type="text" id="postcode" name="postcode" placeholder="1234AB" required />
			</div>

			<div class="form__row">
				<label for="name">Plaats <sup class="required">*</sup></label>
				<input type="text" id="plaats" name="plaats" placeholder="Roosendaal" required />
			</div>
		</div>

		<div class="form__row">
			<label for="email">Email <sup class="required">*</sup></label>
			<input type="email" id="email" name="email" placeholder="naam@domain.nl" required />
		</div>

		<div class="form__row">
			<button type="submit" class="btn">Verstuur</button>
		</div>
	</form>

	<div class="js-thanks is-hidden">
		<p>Je email is verstuurd je hoort zo snel mogelijk van ons.</p>
	</div>
</div>

<script>
	const form = document.querySelector('.js-form');
	const thanksMessage = document.querySelector('.js-thanks');
	const url = new URL(window.location.href);

	if (url.searchParams.get('email')) {
		form.classList.add('is-hidden');
		thanksMessage.classList.remove('is-hidden');
	}
</script>
