---
layout: content
title: Tales from the front
---

{{ content | safe }}

<form action="https://submit-form.com/tfvEAaix" class="js-form">
	<input type="hidden" name="_redirect" value="http://localhost:3000/contact" />
	<input type="hidden" name="_email.subject" value="Talesfromthefront.com - Contact" />

	<div class="form__row">
		<label for="name">Naam</label>
		<input type="text" id="name" name="name" placeholder="Naam" required />
	</div>

	<div class="form__row">
		<label for="email">Email</label>
		<input type="email" id="email" name="email" placeholder="naam@domain.nl" required />
	</div>

	<div class="form__row">
		<label for="tour">Gewenste Battlefield Tour</label>
		<select id="tour" name="tour" required>
			<option value="">-- selecteer een tour --</option>

			{%- for tour in collections.tours | reverse -%}
				{% if tour.data.slug %}
					<option value="{{ tour.data.slug }}">{{ tour.data.title }}</option>
				{% endif %}
			{%- endfor -%}
			<option value="Tour op maat">tour-op-maat</option>
		</select>
	</div>

	<div class="form__row">
		<label for="message">Vraag of opmerking  <sup class="required">*</sup></label>
		<textarea id="message" name="message" placeholder="Uw bericht..." required></textarea>
	</div>

	<div class="form__row">
		<button class="btn">Submit</button>
	</div>
</form>

<div class="js-thanks is-hidden">
	<p>Je email is verstuurd je hoort zo snel mogelijk van ons.</p>
</div>

<div class="form__row">
	<p><em>Wij gaan zorgvuldig om met je gegevens en gebruiken deze alleen om contact met je op te kunnen nemen.</em></p>
</div>

<script>
	const form = document.querySelector('.js-form');
	const thanksMessage = document.querySelector('.js-thanks');
	const url = new URL(window.location.href);

	if (url.searchParams.get('email')) {
		form.classList.add('is-hidden');
		thanksMessage.classList.remove('is-hidden');
	}
</script>
