---
layout: base
title: Tales from the front
---

<div class="home_header">
	<div class="home_header-content">
		<h1 class="home_header-title">{{ title | safe }}</h1>
		<h2 class="home_header-subtitle">{{ subtitle | safe }}</h2>
	</div>

	<div class="home_header-gradient"></div>

	<img sizes="(max-width: 3471px) 100vw, 3471px"
		srcset="
			/img/homepage-header_480.jpg 480w,
			/img/homepage-header_1430.jpg 1430w,
			/img/homepage-header_2060.jpg 2060w,
			/img/homepage-header_2543.jpg 2543w,
			/img/homepage-header_2946.jpg 2946w,
			/img/homepage-header_3305.jpg 3305w,
			/img/homepage-header_3422.jpg 3422w,
			/img/homepage-header_3471.jpg 3471w"
		src="/img/homepage-header_1430.jpg"
		alt="">
</div>

{{ content | safe }}

<ul>
	{%- for tour in collections.tour -%}
		<li>{{ tour.data.title }}</li>
	{%- endfor -%}
</ul>
