---
layout: base
title: Tour overview
---

{% include "../page-header.njk" %}

<div class="container">
	<div class="card">
		<div class="card__content">
			<h2 class="card__title">Tours</h2>

			<p>We dachten eigenlijk dat er dicht bij onze woonplaats maar weinig was gevochten in vergelijking met bijvoorbeeld Overloon en Nijmegen. Maar na het bestuderen van vele militaire oorlogsdagboeken en krijgshistorische boeken over de verschillende gevechten in Noord-Brabant moesten we ons beeld bijstellen. We kwamen er achter dat er zware gevechten hebben plaatsgevonden met veel (burger)slachtoffers. Daarom besloten we ons te specialiseren in de gevechten die in het zuiden van Nederland hebben plaatsgevonden. Zowel de geallieerde als de Duitse zijde hebben we gedetailleerd onderzocht en zijn tot een uitgebreid aanbod van Battlefield Tours gekomen. Maar het aanbod van tours breidt zich nog steeds uit.</p>

			<p>Natuurlijk kun je bij ons ook terecht voor een Battlefield Tour naar bijvoorbeeld de slagvelden van Market Garden, verschillende locaties in de Ardennen, het Oderfront bij Berlijn en de D-Day stranden van Normandië. In het buitenland  duren de Battlefield Tours vanwege de afstanden meerdere dagen.</p>

			<p>Hiernaast zijn de verschillende tours die wij kant en klaar aanbieden. Er kunnen zowel kleine als grote groepen aan deelnemen tot 45 personen. Mocht je graag iets laten toevoegen aan de tour? Natuurlijk kan dat, de pakketten zijn in overleg aan te passen. Ook de datums worden in overleg met jou of jullie gekozen.</p>
		</div>
	</div>

	{% include "../tour-overview.njk" %}

	{% include "../tour-op-maat.njk" %}
</div>

