---
layout: base
title: Tour
---

{% include "../page-header.njk" %}

<div class="container">
	<div class="card">
		<div class="card__content">
			<h2 class="card__title">{{ title | safe }}</h2>

			{{ content | safe }}
		</div>
		<div class="card__content text-center">
			<a class="btn" href="{{ "/" | url }}contact">Boek deze tour</a>
		</div>
	</div>

	{% include "../gallery.njk" %}

	<div class="card card--flex">
		<div class="card__content">
			{% if next %}
				&laquo; Vorige tour<br />
				<a class="" href="{{ next.url | url }}">{{ next.title }}</a>
			{% endif %}
		</div>

		<div class="card__content text-right">
			{% if previous %}
				Volgende tour &raquo;<br />
				<a class="" href="{{ previous.url | url }}">{{ previous.title }}</a>
			{% endif %}
		</div>
	</div>
</div>

