---
tags: nav
navtitle: contact
---

<form action="https://usebasin.com/f/98ceeb7f1aa2" method="POST">
	<label for="name">Naam*</label>
	<input type="text" id="name" name="name" required />

	<label for="email">Email*</label>
	<input type="email" id="email" name="email" required />

	<label for="tour">Gewenste Battlefield Tour</label>
	<select id="tour" name="tour" required>
		<option value="">--Selecteer een tour--</option>

		{%- for tour in collections.tour | reverse -%}
			{% if tour.data.slug %}
				<option value="{{ tour.data.slug }}">{{ tour.data.title }}</option>
			{% endif %}
		{%- endfor -%}
	</select>

	<label for="message">Vraag of opmerking*</label>
	<input type="text" id="message" name="message" required />

	<button>Submit</button>
</form>
