.card {
	background-color: var(--color-white);
}

.card--highlight {
	background-color: var(--color-steelblue-light);
}

.card--flex {
	display: flex;
	justify-content: space-between;
}

.card__content {
	padding: var(--distance-m) 0;
}

@media (--small) {
	.card__content {
		padding: var(--distance-xl) 5vw;
	}

	.card--no-padding .card__content {
		padding: var(--distance-xl) 0;
	}

	.card--no-padding .card__title {
		padding-left: 5vw;
	}
}
