.footer {
	color: var(--color-white);

	background-color: var(--color-black);
}

.footer_first,
.footer_last {
	padding: var(--distance-l) 0;
}

.footer__navigation {
	padding: var(--distance-m) 0;

	border-top: 1px solid var(--color-silver);
}

.footer__navigation .navigation__list {
	margin-left: calc(var(--distance-s) * -1);

	text-align: left;
}

.footer__navigation .navigation__list-item {
	width: auto;
}

.footer__navigation .navigation__list-item-link {
	font-size: var(--font-size-m);
	text-transform: capitalize;
	text-decoration: underline;
}

.footer__navigation .navigation__list-item-link:hover {
	color: var(--color-steelblue);
}

.footer__title {
	color: var(--color-white);
}

.footer__social__link {
	display: inline-block;
}

.footer__social__link .hover {
	display: none;
}

.footer__social__link:hover .hover {
	display: block;
}

.footer__social__link:hover .normal {
	display: none;
}

.footer_contact__list {
	display: flex;
	align-items: center;
	flex-wrap: wrap;

	margin: 0;
	padding: 0;

	list-style: none;
}

.footer_contact__list-item {
	display: flex;
	align-items: center;

	width: 100%;

	padding: var(--distance-s) 0;
}

.footer_contact__list-item a {
	color: var(--color-white);
}

.footer_contact__list-item a:hover {
	color: var(--color-steelblue);
}

.footer_contact__list-item-visual {
	display: inline-block;

	width: 50px;

	margin-right: var(--distance-s);

	filter: invert(1);
}

@media (--large) {
	.footer__wrapper {
		display: flex;
	}

	.footer_first,
	.footer_last {
		width: 50%;

		padding: var(--distance-xl) 0;
	}

	.footer__social {
		max-width: 400px;
	}

	.footer__navigation {
		padding: var(--distance-l) 0;
	}
}
