.home-header {
	position: relative;

	width: 100%;
	height: 70vh;
	min-height: 350px;
	margin-bottom: 5rem;
}

.home-header__content {
	position: absolute;
	right: 5vw;
	bottom: var(--distance-m);
	left: 5vw;

	z-index: 1;
}

.home-header__gradient {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 40%, rgba(46, 59, 39, 0.5) 55%);
}

.home-header__gradient:before {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	background: url('/img/green-dust-and-scratches.png') center center repeat;

	content: '';
}

.home-header__title,
.home-header__subtitle {
	margin: 0;

	color: var(--color-white);
}

.home-header__title {
	margin-bottom: var(--distance-l);

	font-size: var(--font-size-xl);
	line-height: 1;
}

.home-header__subtitle {
	max-width: 700px;

	font-weight: normal;
	font-family: var(--font-face-body);
}

.home-header__visual {
	object-fit: cover;

	width: 100%;
	height: 100%;
}

/* --------------------------------------------- */
/* UPCOMING EVENT */
/* --------------------------------------------- */
.home-header__upcoming-event {
	display: block;

	padding: var(--distance-m) var(--distance-l);

	color: var(--color-white);
	font-weight: bold;
	text-align: center;
	text-decoration: none;

	background-color: var(--color-black);
}

.home-header__upcoming-event:hover {
	color: var(--color-white);

	background-color: rgb(46, 59, 39, 0.8);
}

@media (--small) {
	.home-header {
		margin-bottom: 0;
	}

	.home-header__content {
		top: auto;
		bottom: 25%;
	}

	.home-header__subtitle {
		font-size: var(--font-size-m);
	}

	.home-header__upcoming-event {
		position: absolute;
		right: 0;
		bottom: 0;

		max-width: 300px;
		padding: var(--distance-l);
	}
}

@media (--medium) {
	.home-header {
		height: 60vh;
		min-height: 500px;
	}

	.home-header__content {
		top: auto;
		bottom: 25%;
	}

	.home-header__title {
		font-size: var(--font-size-xxl);
	}

	.home-header__subtitle {
		font-size: var(--font-size-l);
	}
}

@media (--xlarge) {
	.home-header {
		height: 80vh;
	}

	.home-header__upcoming-event {
		right: 5vw;
	}
}
