.home-header {
	position: relative;

	width: 100%;
	height: 70vh;
	min-height: 350px;

	margin-bottom: 5rem;
}

.home-header__content {
	position: absolute;
	right: 5vw;
	bottom: var(--distance-m);
	left: 5vw;

	z-index: 1;
}

.home-header__gradient {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 40%, rgba(46, 59, 39, 0.5) 55%);
}

.home-header__gradient:before {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	background: url('/img/green-dust-and-scratches.png') center center repeat;

	content: '';
}

.home-header__title,
.home-header__subtitle {
	margin: 0;

	color: var(--color-white);
}

.home-header__title {
	margin-bottom: var(--distance-l);

	font-size: var(--font-size-xl);
	line-height: 1;
}

.home-header__subtitle {
	max-width: 700px;

	font-weight: normal;
}

.home-header__visual {
	object-fit: cover;

	width: 100%;
	height: 100%;
}

/* --------------------------------------------- */
/* UPCOMING EVENT */
/* --------------------------------------------- */
.home-header__upcoming-event {
	position: absolute;
	top: 100%;
	right: 0;
	left: 0;

	padding: 1rem 2rem 4rem;

	background-color: var(--color-white);
	border-top: 4px solid var(--color-green);
}

.home-header__upcoming-event__title,
.home-header__upcoming-event__subtitle {
	margin: 0;
}

.home-header__upcoming-event__title {
	margin-bottom: 0.5rem;
}

.home-header__upcoming-event__subtitle {
	display: block;
}

.home-header__upcoming-event__action {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;

	display: block;

	padding: var(--distance-xs) 0;

	color: var(--color-white);
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;

	background-color: var(--color-olive);
	/* border-right: 4px solid rgba(46, 59, 39, 0.5);
	border-bottom: 4px solid rgba(255, 255, 255, 0.2); */
}

.home-header__upcoming-event__action:hover {
	background-color: var(--color-green);
}

/* .home-header__upcoming-event__action:before {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	background: url('/img/green-dust-and-scratches.png') center center repeat;

	content: '';
} */

.home-header__upcoming-event__action:after {
	position: absolute;
	top: 50%;
	right: 1.5rem;

	content: '»';

	color: var(--color-white);
	font-family: serif;
	font-size: 2.5rem;
	line-height: 0;
}

.home-header__upcoming-event__action br {
	display: none;
}

@media (--small) {
	.home-header__subtitle {
		font-size: var(--font-size-m);
	}

	.home-header__upcoming-event {
		padding: 2rem 2rem 2rem 5vw;
	}

	.home-header__upcoming-event__subtitle {
		overflow: hidden;

		max-width: calc(100% - 150px);

		font-weight: normal;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	.home-header__upcoming-event__action {
		position: absolute;
		top: 0;
		right: 0;
		left: auto;

		padding: 2.5rem 4rem 0 2rem;
	}

	.home-header__upcoming-event__action br {
		display: block;
	}
}

@media (--medium) {
	.home-header {
		height: 60vh;
		min-height: 500px;
	}

	.home-header__content {
		top: auto;
		bottom: 20%;
	}

	.home-header__title {
		font-size: var(--font-size-xxl);
	}

	.home-header__subtitle {
		font-size: var(--font-size-l);
	}

	.home-header__upcoming-event {
		top: calc(100% - 4rem);
		right: 5vw;
	}
}

@media (--large) {
	.home-header__content {
		bottom: 30%;
	}
}
