.intro {
	display: block;
}

@media (--small) {
	.intro {
		margin-left: -5vw;
		padding-left: 5vw;

		border-left: 4px solid var(--color-olive);
	}
}

@media (--medium) {
	.intro {
		columns: 2;
	}
}

@media (--xlarge) {
	.intro {
		padding-top: var(--distance-m);
		padding-bottom: var(--distance-m);
	}
}
