.navigation {
	position: sticky;
	top: 0;
	z-index: 1;

	display: grid;
	grid-template-columns: 180px auto 180px;
	grid-gap: 1em;

	padding: 1rem;

	background-color: var(--color-white);

	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.navigation__title,
.navigation__list,
.navigation__contact {
	display: flex;
	align-items: center;
	justify-content: center;
}

.navigation__contact {
	justify-content: flex-end;
}

.navigation__list {
	width: 100%;

	margin: 0;
	padding: 0;

	text-align: center;
}

.navigation__list-item {
	display: inline-block;
}

.navigation__list-item-link {
	position: relative;
	display: block;

	padding: 1rem;

	color: var(--color-green);
	font-weight: var(--font-weight-bold);
	text-decoration: none;
	text-transform: uppercase;
}

.navigation__list-item-link:hover:before,
.navigation__list-item.is-active .navigation__list-item-link:before {
	position: absolute;
	top: 0;
	right: 1rem;
	bottom: 0.7rem;
	left: 1rem;

	border-bottom: 2px solid var(--color-green);

	content: '';
}
