.page-header {
	position: relative;

	width: 100%;
	height: 70vh;
	min-height: 350px;
}

.page-header__content {
	position: absolute;
	right: 5vw;
	bottom: calc(var(--distance-xxl) * 4);
	left: 5vw;

	z-index: 1;
}

.page-header__gradient {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 40%, rgba(46, 59, 39, 0.5) 55%);
}

.page-header__gradient:before {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	background: url('/img/green-dust-and-scratches.png') center center repeat;

	content: '';
}

.page-header__title,
.page-header__subtitle {
	margin: 0;

	color: var(--color-white);
}

.page-header__title {
	margin-bottom: var(--distance-l);

	font-size: var(--font-size-xl);
	line-height: 1;
}

.page-header__subtitle {
	max-width: 700px;

	font-weight: normal;
	font-family: var(--font-face-body);
}

.page-header__visual {
	object-fit: cover;

	width: 100%;
	height: 100%;
}

/* --------------------------------------------- */
/* BOOK */
/* --------------------------------------------- */
.page-header__book {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;

	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--distance-m);

	padding: var(--distance-s) var(--distance-m);

	color: var(--color-white);
	font-weight: bold;
	text-align: center;
	text-decoration: none;

	background-color: var(--color-black);
}

.page-header__book__visual {
	transform: rotate(-2deg);

	max-width: 100px;
	padding: 0 var(--distance-m);
}

.page-header__book span {
	display: block;

	white-space: nowrap;
	text-align: center;
}

.page-header__book:hover {
	color: var(--color-white);

	background-color: rgb(46, 59, 39, 0.8);
}

@media (--small) {
	.page-header__content {
		top: auto;
		bottom: 35%;
	}

	.page-header__subtitle {
		font-size: var(--font-size-m);
	}
}

@media (--medium) {
	.page-header {
		height: 60vh;
		min-height: 500px;
	}

	.page-header__title {
		font-size: var(--font-size-xxl);
	}

	.page-header__subtitle {
		font-size: var(--font-size-l);
	}

	.page-header__book {
		left: auto;

		max-width: 400px;
		padding: var(--distance-l);
	}
}

@media (--large) {
	.page-header__book {
		right: 5vw;
		left: auto;
	}

	.page-header__book__visual {
		max-width: 120px;
	}
}

@media (--xlarge) {
	.page-header {
		height: 80vh;
	}

	.page-header__book__visual {
		max-width: 160px;
	}
}
