<div class="card">
	<div class="card__content">
		<h2 class="card__title">Bestel het boek “Vier Dagen Hel” nu!</h2>

		<div class="book">
			<div class="book_item book_item--small book_item--book">
				<img class="book_visual" src="{{ "/" | url }}img/visuals/boek_vier-dagen-hel-320w.jpg" alt="">
			</div>

			<div class="book_item">
				<blockquote>
					<p><em>“Onze inschatting dat de Duitsers hun afweer goed georganiseerd hadden was juist gebleken. Ze leken overal Sturmgeschütze te hebben.”</em><br>
					<strong>Een Britse tanksoldaat tijdens de gevechten ten zuiden van Roosendaal.</strong></p>
				</blockquote>

				<p>De strijd in het kader van Operation Suitcase en Thruster, op de flank van “De slag om de Schelde” was heviger dan eerst gedacht. Na jaren onderzoek naar de acties in de Nederlands - Belgische grensstreek,
					aangevuld met een grote kennis van de omgeving en de locaties waar de gevechten plaatsvonden, is een duidelijk en overzichtelijk boek ontstaan.</p>

				<a href="{{ "/" | url }}boek-vier-dagen-hel" class="btn">
					Bestellen
				</a>
			</div>
		</div>
	</div>
</div>
