<meta
	http-equiv='Content-Security-Policy'
	content="
		default-src 'self';
		img-src 'self';
		style-src 'self' fonts.googleapis.com unpkg.com/swiper@7/swiper-bundle.min.css 'unsafe-inline';
		prefetch-src 'self';
		worker-src 'self';
		connect-src 'self';
		script-src 'self' unpkg.com/swiper@7/swiper-bundle.min.js 'unsafe-inline';
		font-src 'self' data: fonts.gstatic.com;
		frame-src 'self';
		object-src 'self';
		base-uri 'self';
	">
