<div class="swiper">
	<div class="swiper-wrapper">
		{% for visual in gallery %}
			<div class="swiper-slide">
				<img sizes="(max-width: 1980px) 100vw, 1980px"
					srcset="
						{{ "/" | url }}img/visuals/{{ visual | safe }}-320w.jpg 320w,
						{{ "/" | url }}img/visuals/{{ visual | safe }}-1100w.jpg 1100w,
						{{ "/" | url }}img/visuals/{{ visual | safe }}-1650w.jpg 1650w,
						{{ "/" | url }}img/visuals/{{ visual | safe }}-1980w.jpg 1980w"
					src="{{ "/" | url }}img/visuals/{{ visual | safe }}-1980w.jpg"
					alt="">
			</div>
		{% endfor %}
	</div>

	<div class="swiper-pagination"></div>

	<div class="swiper-button-prev"></div>
	<div class="swiper-button-next"></div>
</div>
