<div class="swiper-container">
	<div class="swiper-wrapper">
		{% for visual in gallery %}
			<div class="swiper-slide">
				<img sizes="(max-width: 1980px) 100vw, 1980px"
					srcset="
						{{ "/" | url }}img/{{ visual | safe }}_320.jpg 320w,
						{{ "/" | url }}img/{{ visual | safe }}_1100.jpg 1100w,
						{{ "/" | url }}img/{{ visual | safe }}_1650.jpg 1650w,
						{{ "/" | url }}img/{{ visual | safe }}_1980.jpg 1980w"
					src="{{ "/" | url }}img/{{ visual | safe }}_1980.jpg"
					alt="">
			</div>
		{% endfor %}
	</div>

	<div class="swiper-pagination"></div>

	<div class="swiper-button-prev"></div>
	<div class="swiper-button-next"></div>
</div>
