<nav class="navigation">
	<a href="{{ '/' | url }}" class="logo">
		<img src="/img/logo.png" alt="Tales from the front" />
	</a>

	<div class="navigation__title">
		<span class="visually-hidden">Tales from the front</span>
	</div>

	<ol class="navigation__list">
		<li class="navigation__list-item {% if page.url === '/' %}is-active{% endif %}"><a href="/"  class="navigation__list-item-link" {% if page.url === "/" %}aria-current="page"{% endif %}>Home</a></li>
		<li class="navigation__list-item {% if page.url === '/tours/' %}is-active{% endif %}"><a href="/tours"  class="navigation__list-item-link" {% if page.url === "/tours/" %}aria-current="page"{% endif %}>Tours</a></li>
	</ol>

	<div class="navigation__contact">
		<a href="/contact" class="navigation__list-item-link">Contact</a>
	</div>
</nav>
