<nav class="navigation">
	<a href="/" class="logo">
		<img src="{{ "/" | url }}img/logo.png" alt="Tales from the front" />
		<h1 class="visuallyhidden">Tales from the front</h1>
	</a>

	<input type="checkbox" class="navigation__checkbox" id="overlay-menu" name="overlay-menu">
	<label class="navigation__checkbox__label" for="overlay-menu"><span></span></label>

	<div class="navigation__mobile-wrapper">
		{% include "./navigation.njk" %}
	</div>
</nav>
