<ol class="navigation__list">
	{%- for nav in collections.myNav -%}
		<li class="navigation__list-item {% if nav.url === page.url %}is-active{%- endif %}">
			<a href="{{ nav.url | url }}" class="navigation__list-item-link">{{ nav.data.navtitle }}</a>
		</li>
	{%- endfor -%}
</ol>
