<div class="page-header">
	<div class="page-header__content">
		<h1 class="page-header__title">{{ title | safe }}</h1>

		{% if subtitle %}
			<h2 class="page-header__subtitle">{{ subtitle | safe }}</h2>
		{% endif %}
	</div>

	<div class="page-header__gradient"></div>

	<img class="page-header__visual" sizes="(max-width: 1980px) 100vw, 1980px"
		srcset="
			{{ "/" | url }}img/visuals/{{ visual | safe }}-320w.jpg 320w,
			{{ "/" | url }}img/visuals/{{ visual | safe }}-1100w.jpg 1100w,
			{{ "/" | url }}img/visuals/{{ visual | safe }}-1650w.jpg 1650w,
			{{ "/" | url }}img/visuals/{{ visual | safe }}-1980w.jpg 1980w"
		src="{{ "/" | url }}img/visuals/{{ visual | safe }}-1980w.jpg"
		alt="">

	{% if collections.upcomingTour.length > 0 %}
		<a href="{{ tour.url | url }}" class="page-header__upcoming-event">
			<span class="page-header__upcoming-event__title">
				De volgende tour, "{{ collections.upcomingTour[0].data.title }}", is op <span class="nobreak">{{ collections.upcomingTour[0].date | formatDate }}.</span>
			</span>
		</a>
	{% else %}
		<a href="{{ "/" | url }}contact" class="page-header__upcoming-event">
			<span class="page-header__upcoming-event__title">Wilt u ook op tour met <span class="nobreak">Tales from the front?</span></span>
		</a>
	{% endif %}
</div>
