<div class="page-header">
	<div class="page-header__content">
		<h1 class="page-header__title">{{ title | safe }}</h1>

		{% if subtitle %}
			<h2 class="page-header__subtitle">{{ subtitle | safe }}</h2>
		{% endif %}
	</div>

	<div class="page-header__gradient"></div>

	<img class="page-header__visual" sizes="(max-width: 1980px) 100vw, 1980px"
		srcset="
			{{ "/" | url }}img/visuals/{{ visual | safe }}-320w.jpg 320w,
			{{ "/" | url }}img/visuals/{{ visual | safe }}-1100w.jpg 1100w,
			{{ "/" | url }}img/visuals/{{ visual | safe }}-1650w.jpg 1650w,
			{{ "/" | url }}img/visuals/{{ visual | safe }}-1980w.jpg 1980w"
		src="{{ "/" | url }}img/visuals/{{ visual | safe }}-1980w.jpg"
		alt="">

	<a href="{{ "/" | url }}boek-vier-dagen-hel" class="page-header__book">
		<img class="page-header__book__visual" src="{{ "/" | url }}img/visuals/boek_vier-dagen-hel-320w.jpg" alt="">

		<div class="page-header__book__title">
			<span>Bestel hier het boek</span>
			<span>“Vier Dagen Hel”</span>
			<span>voor maar €30,00</span>
			<span><small><em>excl. verzendkosten</em></small></span>
		</div>
	</a>
</div>
