<div class="tour-overview">
	{%- for tour in collections.tours -%}
		<div class="tour-overview__item">
			<a class="tour-overview__item-content" href="{{ tour.url | url }}">
				<div class="tour-overview__item-content__title-holder">
					<div class="tour-overview__item-content__title">
						<h3><strong>{{ tour.data.title | safe }}</strong></h3>
					</div>
				</div>
				<div class="tour-overview__item-content__background" style="background-image: url('{{ "/" | url }}img/{{ tour.data.thumbnail | safe }}.jpg');"></div>
			</a>
		</div>
	{%- endfor -%}
</div>
