<div class="card">
	<div class="card__content">
		<h2 class="card__title">Je eigen battlefield tour op maat</h2>

		<p>Bij ons kun je ook terecht voor een Battlefield Tour naar bijvoorbeeld slagvelden van Market Garden, verschillende locaties in de Ardennen, het Oderfront en de D-Day stranden van Normandie. In het buitenland zijn de Battlefield Tours door de afstanden meerdere dagen.</p>

		<p>Maar het kan ook zijn dat je een speciale Tour zoekt. Wij kunnen jou hiermee helpen en een Battlefield Tour op maat voor je verzorgen. Dat kan voor één dag zijn maar ook voor meerdere dagen.</p>

		<a class="btn" href="{{ "/" | url }}contact">Meer informatie? Neem contact met ons op</a>
	</div>
</div>
